.modal {
    position: absolute;
    z-index: 1;
    right: 3.2rem;
    top: 2.5rem;
}

.modal-content {
    background-color: var(--header-clr);
    border-radius: .5em;
    font-size: 1.25rem;
    text-align: center;
    margin: auto;
    padding: 1em;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.fa-grip-vertical {
    position: absolute;
    right: 2em;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.close {
    background-color: transparent;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
}

.modal-content a {
    padding: 0;
}

.modal-content a:hover {
    background-color: transparent;
}

.modal-content img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

@media (max-width: 420px) {
    .modal {
        right: 1.9rem;
        top: 2.3rem;
    }

    .fa-grip-vertical {
        right: .5em;
    }
}