.mail-folder-list {
    width: 100%;
    flex: 1;
    margin-right: 1em;
}

.mail-folder-list button {
    display: block;
    padding: .9em;
    padding-left: .9em;
    padding-right: 1.85em;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
    width: 200px;
    text-align: left;
}

.mail-folder-list button.active {
    background-color: var(--bgc-input-clr);
    font-family: google-sans-bold, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mail-folder-list span {
    margin-right: .5em;
}

.num-unread {
    margin-left: 6em;
}