.mail-compose {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--header-clr);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    bottom: 0px;
    left: 4em;
    padding: 1em;
}

.mail-compose input {
    display: block;
    padding: .5em 0;
    border-radius: 0;
    width: 100%;
}

.mail-compose-header {
    display: flex;
    justify-content: space-between;
}

.btn-mail-compose  {
    font-family: google-sans-medium, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(190, 214, 248);
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: .5em;
    display: inline-block;
}

.btn-mail-compose .fa-pen {
    margin-right: 0.5em;
}

.mail-compose-footer button:hover,
.btn-mail-compose:hover {
    background-color: rgb(190, 214, 248);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.mail-compose textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    height: 100%;
}

.mail-compose-footer button {
    background-color: rgb(190, 214, 248);
    border-radius: 1em;
    padding: 1em;
}

@media (max-width: 840px) {
    .btn-mail-compose {
        overflow: hidden;
        position: fixed;
        bottom: 0;
    }
}

@media (max-width: 490px) {
    .mail-compose {
        left: 0px;
        height: 90vh;
        width: 93vw;
        justify-content: start;
    }

    .mail-compose-footer {
        position: fixed;
        bottom: 2em;
    }
}