.mail-list {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: .5em;
    overflow-y: scroll;
    width: 100%;
    flex: 6;
}

.mail-list-header {
    font-size: 1.25rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: .714em;
}

.mail-table {
    width: 100%;
}

.mail-sort {
    background-color: red;
}



/* .mail-folder-list {
    width: 100%;
    flex: 1;
    margin-right: 1em;
}

.mail-folder-list button {
    display: block;
    padding: .9em;
    padding-left: .9em;
    padding-right: 1.85em;
    font-weight: 700;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
    width: 200px;
    text-align: left;
}

.mail-folder-list button.active {
    background-color: var(--bgc-input-clr);
}

.mail-folder-list span {
    margin-right: .5em;
} */