.mail-table tr {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.mail-table tr:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.mail-table td {
    padding: .714em;
}

.mail-table td:nth-child(3) {
    display: flex;
    justify-content: end;
}

.expanded-td {
    background-color: red;
    display: flex;
    flex-direction: column;
}

.unread {
    background-color: var(--header-clr);
    border-bottom: rgba(17, 17, 26, 0.1);
}