.mail-details {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: .5em;
    overflow-y: scroll;
    width: 100%;
    flex: 6;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--header-clr);
}

.mail-details-header {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.mail-details h2 {
    font-size: 1.25rem;
    margin-bottom: .5em;
}

.mail-details-content {
    padding: .714em;

}

.mail-details a {
    padding: .9rem;
    cursor: pointer;
    border-radius: 50%;
}

.mail-details a:hover {
    background-color: var(--hover-clr);

    transition: background-color .6s;
}