.note-preview{
background-color: rgb(254, 254, 138);
padding:1rem;
border-radius: 10px;
min-height: 300px;
width: 300px;    
display:flex;
flex-direction: column;
justify-content: space-between;
margin: 1rem auto;
white-space:pre-wrap;
}

button.color-btn, .remove-note-btn{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.input-color{
    border: none;
    opacity: 0;
    position: absolute;
    cursor: pointer
}
