header {
    background-color: var(--header-clr);
    margin-bottom: .5em;
}

.app-header {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

nav a {
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
}

nav a:hover {
    background-color: var(--hover-clr);
}

nav a.active {
    color: #daa080;
}