.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    border-radius: .5em;
}

.user-msg.success {
    background-color: var(--bgc-input-clr);
}

.user-msg.error {
    background-color: var(--hover-clr);
}

.user-msg button{
    float: right;
}