/* .mail-layout>*:not(.full) {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 550px) {
    .mail-layout>*:not(.full) {
        max-width: 550px;
    }
  }
  
  @media (min-width: 760px) {
    .mail-layout>*:not(.full) {
        max-width: 760px;
    }
  }
  
  @media (min-width: 1200px) {
    .mail-layout>*:not(.full) {
        max-width: 1200px;
    }
  } */

  .mail-layout {
    padding: 2em;
    padding-left: 0;
  }